@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');

body{
  max-width: 1200px;
  background-color: #F5F5EF;
}

h1{
  font-size: 70px;
  font-family: 'Hammersmith One', sans-serif;
  color: white;
  line-height: 1.4;
  letter-spacing: 0.14em;
  text-shadow: 0 0 3px rgba(197, 196, 196, 0.596),0 0 5px #24242442;
}

h2{
  font-size: 30px;
  font-family: 'Hammersmith One', sans-serif;
  line-height: 1.4;
  letter-spacing: 0.14em;
}

h3{
  font-size: 20px;
  font-family: 'Hammersmith One', sans-serif;
  line-height: 1.4;
  letter-spacing: 0.14em;
}

.image{
  width: 100%;
  object-fit: cover;
  object-position: center center;
  height: 40vh;
}

.subtitle{
  font-size: 25px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
  line-height: 1.4;
  letter-spacing: 0.14em;
  text-shadow: 0 0 3px rgba(141, 141, 141, 0.596),0 0 5px #2424247c;
}

header{
  background-image: url('../images/classic.jpg');
  height: 95vh;
  background-size: cover;
  background-position: center center;
  
}

.change-bg{
  background-color: black;
  color: white;
}

.svg_img{
  width: 50px;
}